

body {
    font-size: 15px;
    font-family: 'League Spartan';
    background-color:hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
}



p {
    text-align: left;
    color: hsl(217, 12%, 63%);
    line-height: 25px;
}



.evaluation {
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    width: 35%;
    margin: auto;
    margin-top: 300px;
    padding: 25px;
    display:block;
 }

.thank-you {
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    width: 35%;
    margin: auto;
    margin-top: 300px;
    padding: 25px;
    display:none;
    font-size: 18px;
}


.thank-you-title {
    text-align: center;  
}

.thank-you-p {
    text-align: center;
    line-height: 25px;
}

.thank-you-icon {
    width: 50%;
    display: block;
    margin: 30px auto;
}

.answer {
    background-color: hsl(210, 12%, 30%);
    color: hsl(25, 97%, 53%);
    border-radius: 25px;
    border: none;
    text-align: center;
    padding:10px 5px;
    margin: 30px auto;
    width: 60%;
}

.star-icon {
    background-color: hsl(210, 12%, 30%);
    border-radius: 25px;
    position: center;
    padding: 8px;
}

.rating {
    background-color: hsl(210, 12%, 30%);
    color: hsl(217, 12%, 63%);
    border-radius: 25px;
    border: none;
    text-align: center;
    padding:18px;
    margin: 15px 4px;
    width: 50px;    
}

.rating-container {
    text-align: center;
}

.submit-button {
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
    text-align: center;
    padding:20px;
    width: 100%;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size:0.75rem;
    margin: 20px auto;  
}



.selection {
    background-color: hsl(210, 12%, 30%);
    border-radius: 25px;
    text-align: center;
    padding:5px;
    width: 70%;
    border: none;
    color: hsl(25, 97%, 53%);
    font-size:0.75rem;
    display: block;
    margin: 20px auto;  
}

.hovered {
    color: hsl(25, 97%, 53%);;
    background-color:white;
}

.rating-hovered {
    color: white;
    background-color:hsl(217, 12%, 63%);
}

.active {
    color: white;
    background-color:hsl(25, 97%, 53%);
    border-radius: 25px;
    border: none;
    text-align: center;
    padding:18px;
    margin: 10px 4px;
    width: 50px;
}





@media (max-width: 400px) {


    .evaluation {
        width: 70%;        
    }

    .thank-you {
        width: 70%;        
    }


    .rating {
        border-radius: 30px;
        padding:7px;
        margin: 0 3px;
        width: 15%;
    }

}


